@{
    ViewBag.Title = "Basic";
}
<h2>Hello <span data-bind="text: name"></span></h2>

@section Scripts {
    <!-- <script>
            function ViewModel()
            {
                this.name = 'Eric McQuiggan';
            };
            var viewModel = new ViewModel();
            ko.applyBindings(viewModel);
        </script>

        <script src="~/Scripts/knockout-3.4.2.js" type="text/javascript"></script>


        -->

    @Scripts.Render("~/bundles/app")


    <script>
        function ViewModel() {
            this.name = 'Eric McQuiggan';
        };
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>
}

